@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    font-size: 12px;
    background-color:  hsl(210, 46%, 95%);
    font-size: 16px;
    color:  hsl(219, 29%, 14%);
    font-family:'Barlow Semi Condensed';

}
.welcomeMessage{
    background-image: url(../images/bg1.jpg);
    height: 100%;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20% 0 20% 0;
}

.links{
    
        text-decoration: none;
        font-size: 16px;
        margin-top: 12px ;
        color: hsl(216, 33%, 18%);
        font-weight: 500;
        margin-left: 15%;

     }

     .links:hover{
        color: yellow;
    }

.about p{
   margin: 3% 20%;
   text-align: center;
}

.galleryPhotos{
    text-align: center; 
    background-color:white;
    border-radius: 20% 0 20% 0;
}
.formSection{
    background-color: hsl(215, 27%, 79%);
}
footer{
    background-color: hsl(216, 33%, 18%);
}
.nav-item{
    color: white;
    text-decoration: none;
    list-style: none;
}